body {
     color: white;
     background-color: black;
     text-align: center;
}
footer {
       background-color: lightblue;
       text-align: left;
}

.nav {
     background-image: linear-gradient(lightblue, grey);
     text-align: left;
}

.head {
      display: flex;
      font-size: 50px;
      font-weight: bold;
}

.body {
      width: 50%;
      text-align: center;
}